docbook/src/wadl/autoscale.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!--*******************************************************-->
<!-- Import Common XML Entities -->
<!-- -->
<!-- You can resolve the entites with xmllint -->
<!-- -->
<!-- xmllint -noent autoscale.wadl -->
<!--*******************************************************-->
<!-- need xmlns:identity to use &commonFaults; &getFaults; &postPutFaults; in METHODS -->
<!DOCTYPE application [
<!ENTITY % common SYSTEM "../common/common.ent">
%common;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:identity="http://docs.openstack.org/identity/api/v2.0" 
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:raxapi="http://docs.rackspace.com/volume/api/v1"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:osapi="http://docs.openstack.org/compute/api/v1.1"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">
    <!-- ======================================================================================= -->
    <!-- Resources -->
    <!-- ======================================================================================= -->
    <resources base="https://{region}.autoscale.api.rackspacecloud.com/">
        <resource id="version" path="v1.0/">

            <!-- GROUPS resource -->
            <resource id="tenantid" path="/{tenantId}">
                <param name="tenantId" type="xsd:string" required="true" style="template">
                    <doc>A subscriber to the autoscaling service</doc>
                </param>
                <resource id="groups" path="/groups">
                    <param name="X-Auth-Token" style="header" type="xsd:string" required="true">
                        <doc>A valid authentication token</doc>
                    </param>

                    <method href="#getGroups"/>
                    <method href="#createGroup"/>

                    <resource id="group" path="/{groupId}">

                        <param name="groupId" type="osapi:UUID" required="true" style="template">
                            <doc>A scaling group</doc>
                        </param>
                        <method href="#getGroupManifest"/>
                        <method href="#deleteGroup"/>

                        <resource id="group_state" path="/state">
                            <method href="#getGroupState"/>
                        </resource>

                        <resource id="group_config" path="/config">
                            <method href="#getGroupConfig"/>
                            <method href="#putGroupConfig"/>
                        </resource>
                        <resource id="launch_configuration" path="/launch">
                            <method href="#getLaunchConfig"/>
                            <method href="#putLaunchConfig"/>
                        </resource>

                        <resource id="pause" path="/pause">
                            <method href="#pauseGroup"/>
                        </resource>
                        <resource id="resume" path="/resume">
                            <method href="#resumeGroup"/>
                        </resource>

                        <!-- POLICIES resource -->
                        <resource id="policies" path="/policies">
                            <method href="#getPolicies"/>
                            <method href="#createPolicies"/>

                            <resource id="policy" path="/{policyId}">
                                <param name="policyId" type="osapi:UUID" required="true" style="template">
                                    <doc>A scaling policy</doc>
                                </param>
                                <method href="#getPolicy"/>
                                <method href="#putPolicy"/>
                                <method href="#deletePolicy"/>

                                <resource id="execute" path="/execute">
                                    <method href="#executePolicy"/>
                                </resource>

                                <resource id="webhooks" path="/webhooks">
                                    <method href="#getWebhooks"/>
                                    <method href="#createWebhook"/>

                                    <resource id="webhook" path="/{webhookId}">
                                        <param name="webhookId" type="osapi:UUID" required="true" style="template">
                                            <doc>A webhook</doc>
                                        </param>
                                        <method href="#getWebhook"/>
                                        <method href="#putWebhook"/>
                                        <method href="#deleteWebhook"/>
                                    </resource>
                                </resource>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
            <resource id="anonymous_execute_webhook" path="/execute/{capability_version}/{capability_hash}/">
                <param name="capability_version" required="true" style="template" type="xsd:string"/>
                <param name="capability_hash" required="true" style="template" type="xsd:string"/>
                <method href="#anonymousExecute"/>
            </resource>
        </resource>
    </resources>
    <!-- ======================================================================================= -->
    <!-- Methods -->
    <!-- ======================================================================================= -->
      <method id="createGroup" name="POST">
        <doc title="Create Group">
            <db:para role="shortdesc">
                Create an autoscaling group.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
                This method creates an autoscaling group. To create a scaling group,  
                specify the scaling group
                configuration, launch configuration, and optional scaling policies in the request body in JSON format. 
                If the group is created successfuly, the response body describes the created group in JSON format. The response includes an ID and
                links for the group.
            </p>
        </doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:code href="../docbkx/samples/reqCreateGroup.json"/>
                </doc>
                
            </representation>
        </request>
        <response status="201">
            <param name="location" style="header"
                   required="true" type="xsd:anyURI">
            <doc>An autoscaling endpoint</doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:code href="../docbkx/samples/resCreateGroup.json"/>
                </doc>
            </representation>
        </response>
          &commonFaults; &getFaults; &postPutFaults; 
    </method>

    <method id="getGroups" name="GET">
        <doc title="List Scaling Groups" xml:lang="EN">
            <db:para role="shortdesc">
                This method lists the autoscaling groups that are available for the specified tenant.
            </db:para>
            <db:para>
                This method returns a list of autoscaling groups that have been created for the tenant specified by
                <code>tenantID</code>
            .</db:para>
        </doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:code href="../docbkx/samples/resGetGroups.json"/>
                </doc>
            </representation>
        </response>
        &commonFaults; &getFaults;  
    </method>

    <method id="getGroupManifest" name="GET">
        <doc title="List All Group Details">
            <db:para role="shortdesc">
                This method returns details about the configuration for a specified autoscaling group.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
                For the specified autoscaling group configuration,
                this operation returns details including the launch configuration and the scaling policies. These 
                details are returned in the response body in JSON format.
            </p>
        </doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:code href="../docbkx/samples/resGetGroupManifest.json"/>
                </doc>
            </representation>
        </response>
        &commonFaults; &getFaults; 
    </method>

    <method id="deleteGroup" name="DELETE">
        <doc title="Delete Group">
            <db:para role="shortdesc">
                This method deletes an  autoscaling group.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
                This method deletes the specified autoscaling group if the group is empty. 
                An empty group contains no entities. If deletion is successful, no response body is returned. If
                the group contains pending or active entities, deletion fails and a 409 error message is returned.
            </p>
        </doc>
        <response status="204"/>
        &commonFaults; &getFaults; &postPutFaults; 
    </method>

    <method id="getGroupState" name="GET">
        <doc title="Get Group State">
            <db:para role="shortdesc">
               This method returns the state of an autoscaling group.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
                This method retrieves the current state of the specified autoscaling group.
                It describes the state of the group in terms of its 
                current set of active entities, the number of pending entities, and
                the desired number of entities. The description is returned in the response body
                in JSON format.
            </p>
        </doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:code href="../docbkx/samples/resGetGroupState.json"/>
                </doc>
            </representation>
        </response>
        &commonFaults; &getFaults; 
    </method>

    <method id="getGroupConfig" name="GET">
        <doc title="Get Group Configuration">
            <db:para role="shortdesc">
               This method lists the configuration for an autoscaling group.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
                This method lists the configuration for a specified autoscaling group. 
                The configuration describes the
                minimum number of entities in the group, 
                the maximum number of entities in the group, 
                the global
                cooldown time for the group, and other metadata. The configuration is returned in the response body in JSON format.
            </p>
        </doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:code href="../docbkx/samples/resGetGroupConfig.json"/>
                </doc>
            </representation>
        </response>
        &commonFaults; &getFaults; 
    </method>

    <method id="putGroupConfig" name="PUT">
        <doc title="Replace Group Configuration">
            <db:para role="shortdesc">
                This method updates the configuration for the autoscaling group.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
            This method changes the configuration of an existing autoscaling group.
            To change the configuration, 
            specify the new configuration in the request body in JSON format. 
            Configuration elements include 
            the
            minimum number of entities, the maximum number of entities, the global
            cooldown time, and other metadata. If the update is successful, no response body is
            returned.
            </p>
        </doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:code href="../docbkx/samples/reqPutGroupConfig.json"/>
                </doc>
            </representation>
        </request>
        <response status="204"/>
        &commonFaults; &getFaults; &postPutFaults; 
    </method>

    <method id="getLaunchConfig" name="GET">
        <doc title="Get Launch Configuration">
            <db:para role="shortdesc">
                This method lists the launch configuration.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
                This method lists the launch configuration for the specified autoscaling group. 
                The launch configuration describes the details of how to create a server, 
                from what image to create a server, 
                which load
                balancers to join the server to, which networks to add the server to, and other
                metadata. The launch configuration is returned in the response body in JSON
                format.
            </p>
        </doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:code href="../docbkx/samples/resGetLaunchConfig.json"/>
                </doc>
            </representation>
        </response>
        &commonFaults; &getFaults;  
    </method>

    <method id="putLaunchConfig" name="PUT">
        <doc title="Replace Launch Configuration">
            <db:para role="shortdesc">
                This method updates the launch group configuration.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
                This method changes an existing launch configuration for the specified autoscaling group.
                To change the launch configuration, 
                specify the new configuration in the request body in JSON format. 
                Configuration elements include 
                how to create a server, 
                from what image to create a server, 
                which load
                balancers to join the server to, which networks to add the server to, and other
                metadata. If the update is successful, no response body is returned.
            </p>
        </doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:code href="../docbkx/samples/reqPutLaunchConfig.json"/>
                </doc>
            </representation>
        </request>
        <response status="204"/>
        &commonFaults; &getFaults; &postPutFaults; 
    </method>

    <method id="pauseGroup" name="POST">
        <doc title="Pause Group Policy Execution">
            <db:para role="shortdesc">
                This method pauses the execution of a scaling policy.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
                This method pauses the execution of all autoscaling policies for the specified autoscaling group.
            </p>
        </doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="en"/>
            </representation>
        </request>
        <response status="204"/>
        &commonFaults; &getFaults; &postPutFaults; 
    </method>

    <method id="resumeGroup" name="POST">
        <doc title="Resume Group Policy Execution">
            <db:para role="shortdesc">
                This method resumes the execution of an autoscaling policy.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
                This method resumes the execution of all autoscaling policies for the specified autoscaling group.
            </p>
        </doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="en"/>
            </representation>
        </request>
        <response status="204"/>
        &commonFaults; &getFaults; &postPutFaults; 
    </method>

    <method name="GET" id="getPolicies">
        <doc title="Get Policies List">
            <db:para role="shortdesc">
                This method lists scaling policies in the autoscaling group.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
            This method returns a list of the scaling policies that are available to the specified autoscaling group. 
            Each policy is described in terms of an ID, 
            name, type, adjustment, cooldown time, and links. These
            descriptions are returned in the response body in JSON format.
            </p>
        </doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:code href="../docbkx/samples/resGetPolicies.json"/>
                </doc>
            </representation>
        </response>
        &commonFaults; &getFaults; 
    </method>

    <method name="POST" id="createPolicies">
        <doc title="Create Policy">
            <db:para role="shortdesc">
                This method creates an autoscaling policy.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
            This method creates one or multiple autoscaling policies for the specified autoscaling group. 
            To create a policy, specify it in the request body in JSON format.
            Each description must include a name, type, adjustment, and cooldown time.
            </p>
            <p xmlns="http://www.w3.org/1999/xhtml">
            Use the JSON response to obtain information about the newly-created policy or policies:
            <ul>
                <li>The response header points to the List Policies endpoint.</li>
                <li>The response body provides an array of scaling policies.</li>
            </ul>
            </p>
            <p xmlns="http://www.w3.org/1999/xhtml">
            The examples below demonstrate several methods of creating autoscaling policies:
            <ul>
                <li>a request to create a policy based on desired capacity</li>
                <li>a request to create a policy based on incremental change</li>
                <li>a request to create a policy based on change percentage</li>
                <li>a request to create a policy based on change percentage scheduled daily, at a specific time of day</li>
                <li>a request to create a policy based on change percentage scheduled once, for a specific date and time</li>
                <li>a request to create a policy based on change percentage in response to an alarm</li>
                <li>a request to create multiple policies, followed by the matching response</li>
            </ul>
            </p>
        </doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:sample title="Create Policy (Desired Capacity) Request: JSON" >
                        <xsdxt:code href="../docbkx/samples/reqCreatePolicy-desiredCapacity.json"/>
                    </xsdxt:sample>
                </doc>
                <doc xml:lang="en">
                    <xsdxt:sample title="Create Policy (Incremental Change) Request: JSON" >
                        <xsdxt:code href="../docbkx/samples/reqCreatePolicy-change.json"/>
                    </xsdxt:sample>
                </doc>
                <doc xml:lang="en">
                    <xsdxt:sample title="Create Policy (Percentage Change) Request: JSON" >
                        <xsdxt:code href="../docbkx/samples/reqCreatePolicy-changePercent.json"/>
                    </xsdxt:sample>
                </doc>
                <doc xml:lang="en">
                    <xsdxt:sample title="Create Policy (Percentage Change at Time) Request: JSON" >
                        <xsdxt:code href="../docbkx/samples/reqCreatePolicy-changePercentTime.json"/>
                    </xsdxt:sample>
                </doc>
                <doc xml:lang="en">
                    <xsdxt:sample title="Create Policy (Percentage Change on Date) Request: JSON" >
                        <xsdxt:code href="../docbkx/samples/reqCreatePolicy-changePercentDate.json"/>
                    </xsdxt:sample>
                </doc>
                <doc xml:lang="en">
                    <xsdxt:sample title="Create Policy (Percentage Change on Alarm) Request: JSON" >
                        <xsdxt:code href="../docbkx/samples/reqCreatePolicy-changePercentAlarm.json"/>
                    </xsdxt:sample>
                </doc>
                <doc xml:lang="en">
                    <xsdxt:sample title="Create Policies Request: JSON" >
                        <xsdxt:code href="../docbkx/samples/reqCreatePolicies.json"/>
                    </xsdxt:sample>
                </doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:sample title="Create Policies Response: JSON" >
                        <xsdxt:code href="../docbkx/samples/resCreatePolicies.json"/>
                    </xsdxt:sample>
                </doc>
            </representation>
        </response>
        &commonFaults; &getFaults; &postPutFaults; 
    </method>

    <method name="GET" id="getPolicy">
        <doc title="Get Policy Details">
            <db:para role="shortdesc">
                This method returns details for a specified autoscaling policy.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
            This method returns a description for the specified autoscaling policy. 
            The description includes an ID, name, type,
            adjustment, cooldown time, and links. The description is returned in the
            response body in JSON format.
            </p>
        </doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:code href="../docbkx/samples/resGetPolicy.json"/>
                </doc>
            </representation>
        </response>
        &commonFaults; &getFaults; 
    </method>

    <method id="putPolicy" name="PUT">
        <doc title="Replace Policy">
            <db:para role="shortdesc">
                This method updates an autoscaling policy.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
            This method modifies an existing autoscaling policy for the specified tenant.
            To update the policy, specify the policy's name,
            type, adjustment, and cooldown time in the request body in JSON format. If the change is successful, no response body
            is returned.
            </p>
        </doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:code href="../docbkx/samples/reqPutPolicy.json"/>
                </doc>
            </representation>
        </request>
        <response status="204"/>
        &commonFaults; &getFaults; &postPutFaults; 
    </method>

    <method id="deletePolicy" name="DELETE">
        <doc title="Delete Policy">
            <db:para role="shortdesc">
                This method deletes an autoscaling policy.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
                This method deletes the specified autoscaling policy from the specified tenant. 
                If deletion is successful, no response body is returned.
            </p>
        </doc>
        <response status="204"/>
        &commonFaults; &getFaults; &postPutFaults; 
    </method>

    <method id="executePolicy" name="POST">
        <doc title="Execute Policy">
            <db:para role="shortdesc">
                This method executes an autoscaling policy.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
                This method executes the specified autoscaling policy. If execution is successful, a response body is
            returned.
            </p>
        </doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="en"/>
            </representation>
        </request>
        <response status="202"/>
        &commonFaults; &getFaults; &postPutFaults; 
    </method>

    <method name="GET" id="getWebhooks">
        <doc title="Get a list of webhooks for the policy">
            <db:para role="shortdesc">
                This method obtains a list of webhooks for the autoscaling policy.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
                This method obtains a list of webhooks and their IDs for the specified autoscaling policy. This data is returned in
                the response body in JSON format.
            </p>
        </doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:code href="../docbkx/samples/resGetWebhooks.json"/>
                </doc>
            </representation>
        </response>
        &commonFaults; &getFaults; &postPutFaults; 
    </method>

    <method id="createWebhook" name="POST">
        <doc title="Create a webhook">
            <db:para role="shortdesc">
                This method creates a webhook.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
            This method create one or more webhooks for the specified autoscaling policy. Webhooks must
            have a name. If successful, the response body will contain
            the IDs and links to the newly created webhooks. This data is provided
            in the request body in JSON format.
            </p>
        </doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:code href="../docbkx/samples/reqCreateWebhook.json"/>
                </doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:code href="../docbkx/samples/resCreateWebhook.json"/>
                </doc>
            </representation>
        </response>
        &commonFaults; &getFaults; &postPutFaults; 
    </method>

    <method id="getWebhook" name="GET">
        <doc title="View Webhook">
            <db:para role="shortdesc">
                This method returns the description for a webhook.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
            This method returns a description of a webhook for the specified tenant and the specified autoscaling policy. 
            The description is returned in the response body in JSON format.
            </p>
        </doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:code href="../docbkx/samples/resGetWebhook.json"/>
                </doc>
            </representation>
        </response>
        &commonFaults; &getFaults; 
    </method>

    <method id="putWebhook" name="PUT">
        <doc title="Update Webhook">
            <db:para role="shortdesc">
                This method updates a webhook.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
            This method changes the specified webhook for a specified enant and autoscaling policy.
            If the specified webhook is not recognized, the change is ignored. 
            If you submit a URL, the URL is ignored but that does not invalidate the request. 
            If the change is successful, no
            response body is returned.
            </p>
        </doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:code href="../docbkx/samples/reqPutWebhook.json"/>
                </doc>
            </representation>
        </request>
        <response status="204"/>
        &commonFaults; &getFaults; &postPutFaults; 
    </method>

    <method id="deleteWebhook" name="DELETE">
        <doc title="Delete Webhook">
            <db:para role="shortdesc">
                This method deletes a webhook.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
                This method deletes the webhook for a specified autoscaling policy. If deletion is successful, no response body
                is returned.
            </p>
        </doc>
        <response status="204"/>
        &commonFaults; &getFaults; &postPutFaults; 
    </method>

    <method id="anonymousExecute" name="POST">
        <doc title="Execute Anonymous Webhook">
            <db:para role="shortdesc">
                This method executes an anonymous webhook.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">This method executes an anonymous webhook.</p>
        </doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="en"/>
            </representation>
        </request>
        <response status="202"/>
        &commonFaults; &getFaults; &postPutFaults; 
    </method>

</application>