docbook/src/wadl/autoscale.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!--*******************************************************-->
<!-- Import Common XML Entities -->
<!-- -->
<!-- You can resolve the entites with xmllint -->
<!-- -->
<!-- xmllint -noent autoscale.wadl -->
<!--*******************************************************-->
<!-- need xmlns:identity to use &commonFaults; &getFaults; &postPutFaults; in METHODS -->
<!DOCTYPE application [
<!ENTITY % common SYSTEM "../common/common.ent">
%common;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:identity="http://docs.openstack.org/identity/api/v2.0" 
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:raxapi="http://docs.rackspace.com/volume/api/v1"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:osapi="http://docs.openstack.org/compute/api/v1.1"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">
    <!-- ======================================================================================= -->
    <!-- Resources -->
    <!-- ======================================================================================= -->
    <resources base="https://{region}.autoscale.api.rackspacecloud.com/">
        <resource id="version" path="v1.0/">

            <!-- GROUPS resource -->
            <resource id="tenantid" path="/{tenantId}">
                <param name="tenantId" type="xsd:string" required="true" style="template">
                    <doc>A subscriber to the autoscaling service</doc>
                </param>
                <resource id="groups" path="/groups">
                    <param name="X-Auth-Token" style="header" type="xsd:string" required="true">
                        <doc>A valid authentication token</doc>
                    </param>

                    <method href="#getGroups"/>
                    <method href="#createGroup"/>

                    <resource id="group" path="/{groupId}">

                        <param name="groupId" type="osapi:UUID" required="true" style="template">
                            <doc>A scaling group</doc>
                        </param>
                        <method href="#getGroupManifest"/>
                        <method href="#deleteGroup"/>

                        <resource id="group_state" path="/state">
                            <method href="#getGroupState"/>
                        </resource>

                        <resource id="group_config" path="/config">
                            <method href="#getGroupConfig"/>
                            <method href="#putGroupConfig"/>
                        </resource>
                        <resource id="launch_configuration" path="/launch">
                            <method href="#getLaunchConfig"/>
                            <method href="#putLaunchConfig"/>
                        </resource>

                        <resource id="pause" path="/pause">
                            <method href="#pauseGroup"/>
                        </resource>
                        <resource id="resume" path="/resume">
                            <method href="#resumeGroup"/>
                        </resource>

                        <!-- POLICIES resource -->
                        <resource id="policies" path="/policies">
                            <method href="#getPolicies"/>
                            <method href="#createPolicies"/>

                            <resource id="policy" path="/{policyId}">
                                <param name="policyId" type="osapi:UUID" required="true" style="template">
                                    <doc>A scaling policy</doc>
                                </param>
                                <method href="#getPolicy"/>
                                <method href="#putPolicy"/>
                                <method href="#deletePolicy"/>

                                <resource id="execute" path="/execute">
                                    <method href="#executePolicy"/>
                                </resource>

                                <resource id="webhooks" path="/webhooks">
                                    <method href="#getWebhooks"/>
                                    <method href="#createWebhook"/>

                                    <resource id="webhook" path="/{webhookId}">
                                        <param name="webhookId" type="osapi:UUID" required="true" style="template">
                                            <doc>A webhook</doc>
                                        </param>
                                        <method href="#getWebhook"/>
                                        <method href="#putWebhook"/>
                                        <method href="#deleteWebhook"/>
                                    </resource>
                                </resource>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
            <resource id="anonymous_execute_webhook" path="/execute/{capability_version}/{capability_hash}/">
                <param name="capability_version" required="true" style="template" type="xsd:string"/>
                <param name="capability_hash" required="true" style="template" type="xsd:string"/>
                <method href="#anonymousExecute"/>
            </resource>
        </resource>
    </resources>
    <!-- ======================================================================================= -->
    <!-- Methods -->
    <!-- ======================================================================================= -->
      <method id="createGroup" name="POST">
        <doc title="Create Group">
            <db:para role="shortdesc">
                Create an autoscaling group.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
                This operation creates an autoscaling group. To describe the group you wish to create, 
                specify the scaling group
                configuration, launch configuration, and optional scaling policies in the request body in JSON format. 
                If the group is created successfuly, the response body describes the created group in JSON format. The response includes an ID and
                links for the group.
            </p>
        </doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:code href="../docbkx/samples/reqCreateGroup.json"/>
                </doc>
                
            </representation>
        </request>
        <response status="201">
            <param name="location" style="header"
                   required="true" type="xsd:anyURI">
            <doc>An autoscaling endpoint</doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:code href="../docbkx/samples/resCreateGroup.json"/>
                </doc>
            </representation>
        </response>
          &commonFaults; &getFaults; &postPutFaults; 
    </method>

    <method id="getGroups" name="GET">
        <doc title="List Scaling Groups" xml:lang="EN">
            <db:para role="shortdesc">
                List the autoscaling groups available to the specified tenant.
            </db:para>
            <db:para>
                For the tenant specified by
                <code>tenantID</code>
                , 
                this operation returns a list of autoscaling groups.
            </db:para>
        </doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:code href="../docbkx/samples/listGroups.json"/>
                </doc>
            </representation>
        </response>
        &commonFaults; &getFaults;  
    </method>

    <method id="getGroupManifest" name="GET">
        <doc title="List All Group Details">
            <db:para role="shortdesc">
                List detailed autoscaling group configuration.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
                For the specified autoscaling group configuration,
                this operation returns details including the launch configuration and the scaling policies. These 
                details are returned in the response body in JSON format.
            </p>
        </doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:code href="../docbkx/samples/resGetGroupManifest.json"/>
                </doc>
            </representation>
        </response>
        &commonFaults; &getFaults; 
    </method>

    <method id="deleteGroup" name="DELETE">
        <doc title="Delete Group">
            <db:para role="shortdesc">
                Delete autoscaling group.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
                This operation deletes the specified autoscaling group if the group is empty. 
                An empty group contains no entities. If deletion is successful, no response body is returned. If
                the group contains pending or active entities, deletion fails and a 409 is returned.
            </p>
        </doc>
        <response status="204"/>
        &commonFaults; &getFaults; &postPutFaults; 
    </method>

    <method id="getGroupState" name="GET">
        <doc title="Get Group State">
            <db:para role="shortdesc">
                Report autoscaling group state.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
                This operation retrieves the current state of the specified autoscaling group.
                It describes the state of the group in terms of its 
                current set of active entities, the number of pending entities, and
                the desired number of entities. The description is returned in the response body
                in JSON format.
            </p>
        </doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:code href="../docbkx/samples/resGetGroupState.json"/>
                </doc>
            </representation>
        </response>
        &commonFaults; &getFaults; 
    </method>

    <method id="getGroupConfig" name="GET">
        <doc title="Get Group Configuration">
            <db:para role="shortdesc">
                List autoscaling group configuration.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
                For the specified autoscaling group, this operation lists the group's configuration. 
                The configuration describes the
                minimum number of entities in the group, 
                the maximum number of entities in the group, 
                the global
                cooldown time for the group, and other metadata. The configuration is returned in the response body in JSON format.
            </p>
        </doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:code href="../docbkx/samples/resGetGroupConfig.json"/>
                </doc>
            </representation>
        </response>
        &commonFaults; &getFaults; 
    </method>

    <method id="putGroupConfig" name="PUT">
        <doc title="Replace Group Configuration">
            <db:para role="shortdesc">
                Update autoscaling group configuration.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
            This operation changes the configuration of an existing autoscaling group.
            To change the configuration, 
            describe the new configuration in the request body in JSON format. 
            Configuration elements you can describe include 
            the
            minimum number of entities, the maximum number of entities, the global
            cooldown time, and other metadata. If the change is successful, no response body is
            returned.
            </p>
        </doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:code href="../docbkx/samples/reqPutGroupConfig.json"/>
                </doc>
            </representation>
        </request>
        <response status="204"/>
        &commonFaults; &getFaults; &postPutFaults; 
    </method>

    <method id="getLaunchConfig" name="GET">
        <doc title="Get Launch Configuration">
            <db:para role="shortdesc">
                List launch configuration.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
                For the specified autoscaling group, this operation lists the group's launch configuration. 
                The launch configuration describes the details of how to create a server, 
                from what image to create a server, 
                which load
                balancers to join the server to, which networks to add the server to, and other
                metadata. The launch configuration is returned in the response body in JSON
                format.
            </p>
        </doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:code href="../docbkx/samples/resGetLaunchConfig.json"/>
                </doc>
            </representation>
        </response>
        &commonFaults; &getFaults;  
    </method>

    <method id="putLaunchConfig" name="PUT">
        <doc title="Replace Launch Configuration">
            <db:para role="shortdesc">
                Update launch group configuration.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
                This operation changes an existing launch configuration for the specified autoscaling group.
                To change the launch configuration, 
                describe the new configuration in the request body in JSON format. 
                Configuration elements you can describe include 
                how to create a server, 
                from what image to create a server, 
                which load
                balancers to join the server to, which networks to add the server to, and other
                metadata. If the change is successful, no response body is returned.
            </p>
        </doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:code href="../docbkx/samples/reqPutLaunchConfig.json"/>
                </doc>
            </representation>
        </request>
        <response status="204"/>
        &commonFaults; &getFaults; &postPutFaults; 
    </method>

    <method id="pauseGroup" name="POST">
        <doc title="Pause Group Policy Execution">
            <db:para role="shortdesc">
                Pause policy execution.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
                For the specified autoscaling group, this operation pauses all execution of autoscaling policies.
            </p>
        </doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="en"/>
            </representation>
        </request>
        <response status="204"/>
        &commonFaults; &getFaults; &postPutFaults; 
    </method>

    <method id="resumeGroup" name="POST">
        <doc title="Resume Group Policy Execution">
            <db:para role="shortdesc">
                Resume policy execution.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
                For the specified autoscaling group, this operation resumes all execution of autoscaling policies.
            </p>
        </doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="en"/>
            </representation>
        </request>
        <response status="204"/>
        &commonFaults; &getFaults; &postPutFaults; 
    </method>

    <method name="GET" id="getPolicies">
        <doc title="Get Policies List">
            <db:para role="shortdesc">
                List scaling policies in the autoscaling group.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
            For the specified autoscaling group, this operation returns a list of the scaling policies that are available to the group. 
            Each policy is described in terms of an ID, 
            name, type, adjustment, cooldown time, and links. These
            descriptions are returned in the response body in JSON format.
            </p>
        </doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:code href="../docbkx/samples/resGetPolicies.json"/>
                </doc>
            </representation>
        </response>
        &commonFaults; &getFaults; 
    </method>

    <method name="POST" id="createPolicies">
        <doc title="Create Policy">
            <db:para role="shortdesc">
                Create autoscaling policy.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
            For the specified autoscaling group, this operation creates one or multiple autoscaling policies. 
            To create a policy, describe it in the request body in JSON format.
            Each description must include a name, type, adjustment, and cooldown time.
            </p>
            <p xmlns="http://www.w3.org/1999/xhtml">
            Use the JSON response to obtain information about the newly-created policy or policies.
            <ul>
                <li>The response header points to the List Policies endpoint.</li>
                <li>The response body provides an array of scaling policies.</li>
            </ul>
            </p>
            <p xmlns="http://www.w3.org/1999/xhtml">
            The examples below demonstrate several methods of creating autoscaling policies:
            <ul>
                <li>a request to create a policy based on desired capacity</li>
                <li>a request to create a policy based on incremental change</li>
                <li>a request to create a policy based on change percentage</li>
                <li>a request to create a policy based on change percentage scheduled daily, at a specific time of day</li>
                <li>a request to create a policy based on change percentage scheduled once, for a specific date and time</li>
                <li>a request to create a policy based on change percentage in response to an alarm</li>
                <li>a request to create multiple policies, followed by the matching response</li>
            </ul>
            </p>
        </doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:sample title="Create Policy (Desired Capacity) Request: JSON" >
                        <xsdxt:code href="../docbkx/samples/reqCreatePolicy-desiredCapacity.json"/>
                    </xsdxt:sample>
                </doc>
                <doc xml:lang="en">
                    <xsdxt:sample title="Create Policy (Incremental Change) Request: JSON" >
                        <xsdxt:code href="../docbkx/samples/reqCreatePolicy-change.json"/>
                    </xsdxt:sample>
                </doc>
                <doc xml:lang="en">
                    <xsdxt:sample title="Create Policy (Percentage Change) Request: JSON" >
                        <xsdxt:code href="../docbkx/samples/reqCreatePolicy-changePercent.json"/>
                    </xsdxt:sample>
                </doc>
                <doc xml:lang="en">
                    <xsdxt:sample title="Create Policy (Percentage Change at Time) Request: JSON" >
                        <xsdxt:code href="../docbkx/samples/reqCreatePolicy-changePercentTime.json"/>
                    </xsdxt:sample>
                </doc>
                <doc xml:lang="en">
                    <xsdxt:sample title="Create Policy (Percentage Change on Date) Request: JSON" >
                        <xsdxt:code href="../docbkx/samples/reqCreatePolicy-changePercentDate.json"/>
                    </xsdxt:sample>
                </doc>
                <doc xml:lang="en">
                    <xsdxt:sample title="Create Policy (Percentage Change on Alarm) Request: JSON" >
                        <xsdxt:code href="../docbkx/samples/reqCreatePolicy-changePercentAlarm.json"/>
                    </xsdxt:sample>
                </doc>
                <doc xml:lang="en">
                    <xsdxt:sample title="Create Policies Request: JSON" >
                        <xsdxt:code href="../docbkx/samples/reqCreatePolicies.json"/>
                    </xsdxt:sample>
                </doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:sample title="Create Policies Response: JSON" >
                        <xsdxt:code href="../docbkx/samples/resCreatePolicies.json"/>
                    </xsdxt:sample>
                </doc>
            </representation>
        </response>
        &commonFaults; &getFaults; &postPutFaults; 
    </method>

    <method name="GET" id="getPolicy">
        <doc title="Get Policy Details">
            <db:para role="shortdesc">
                Describe one policy.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
            For the specified autoscaling policy, this operation returns a description. 
            The description includes an ID, name, type,
            adjustment, cooldown time, and links. The description is returned in the
            response body in JSON format.
            </p>
        </doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:code href="../docbkx/samples/resGetPolicy.json"/>
                </doc>
            </representation>
        </response>
        &commonFaults; &getFaults; 
    </method>

    <method id="putPolicy" name="PUT">
        <doc title="Replace Policy">
            <db:para role="shortdesc">
                Update policy.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
            This operation changes an existing autoscaling policy for the specified tenant.
            To change the policy, describe the new policy in the request body in JSON format.
            Updates a scaling policy. You must describe the policy's name,
            type, adjustment, and cooldown time. If the change is successful, no response body
            is returned.
            </p>
        </doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:code href="../docbkx/samples/reqPutPolicy.json"/>
                </doc>
            </representation>
        </request>
        <response status="204"/>
        &commonFaults; &getFaults; &postPutFaults; 
    </method>

    <method id="deletePolicy" name="DELETE">
        <doc title="Delete Policy">
            <db:para role="shortdesc">
                Delete policy.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
                This operation deletes the specified autoscaling policy from the specified tenant. 
                If deletion is successful, no response body is returned.
            </p>
        </doc>
        <response status="204"/>
        &commonFaults; &getFaults; &postPutFaults; 
    </method>

    <method id="executePolicy" name="POST">
        <doc title="Execute Policy">
            <db:para role="shortdesc">
                Execute policy.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
                This operation executes the specified autoscaling policy. If execution is successful, a response body is
            returned.
            </p>
        </doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="en"/>
            </representation>
        </request>
        <response status="202"/>
        &commonFaults; &getFaults; &postPutFaults; 
    </method>

    <method name="GET" id="getWebhooks">
        <doc title="Get a list of webhooks for the policy">
            <db:para role="shortdesc">
                Get a list of webhooks for the policy.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
                Get a list of webhooks and their IDs. This data is returned in
                the response body in JSON format.
            </p>
        </doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:code href="../docbkx/samples/resGetWebhooks.json"/>
                </doc>
            </representation>
        </response>
        &commonFaults; &getFaults; &postPutFaults; 
    </method>

    <method id="createWebhook" name="POST">
        <doc title="Create a webhook">
            <db:para role="shortdesc">
                Create a Webhook.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
                Create one or more new scaling policy webhooks. Webhooks must
            have a name. If successful, the created response body will contain
            the IDs and links to the newly created webhooks. This data provided
            in the request body in JSON format.
            </p>
        </doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:code href="../docbkx/samples/reqCreateWebhook.json"/>
                </doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:code href="../docbkx/samples/resCreateWebhook.json"/>
                </doc>
            </representation>
        </response>
        &commonFaults; &getFaults; &postPutFaults; 
    </method>

    <method id="getWebhook" name="GET">
        <doc title="View Webhook">
            <db:para role="shortdesc">
                Describe one webhook.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
            For the specified tenant and the specified autoscaling policy, 
            this operation returns a description of the specified webhook. 
            The description is returned in the response body in JSON format.
            </p>
        </doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:code href="../docbkx/samples/resGetWebhook.json"/>
                </doc>
            </representation>
        </response>
        &commonFaults; &getFaults; 
    </method>

    <method id="putWebhook" name="PUT">
        <doc title="Update Webhook">
            <db:para role="shortdesc">
                Update webhook.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
            For the specified tenant and policy, this operation changes the specified webhook. 
            If the specified webhook is not recognized, the change is ignored. 
            If a URL is submitted, the URL is ignored but that does not invalidate the request. 
            If the change is successful, no
            response body is returned.
            </p>
        </doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="en">
                    <xsdxt:code href="../docbkx/samples/reqPutWebhook.json"/>
                </doc>
            </representation>
        </request>
        <response status="204"/>
        &commonFaults; &getFaults; &postPutFaults; 
    </method>

    <method id="deleteWebhook" name="DELETE">
        <doc title="Delete Webhook">
            <db:para role="shortdesc">
                Delete webhook.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">
                This operation deletes the specified autoscaling policy webhook. If deletion is successful, no response body
                is returned.
            </p>
        </doc>
        <response status="204"/>
        &commonFaults; &getFaults; &postPutFaults; 
    </method>

    <method id="anonymousExecute" name="POST">
        <doc title="Execute Anonymous Webhook">
            <db:para role="shortdesc">
                Execute anonymous webhook.
            </db:para>
            <p xmlns="http://www.w3.org/1999/xhtml">This operation executes an anonymous webhook.</p>
        </doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="en"/>
            </representation>
        </request>
        <response status="202"/>
        &commonFaults; &getFaults; &postPutFaults; 
    </method>

</application>