docbook/src/docbkx/wadl/autoscale.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:wadl="http://wadl.dev.java.net/2009/02"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             xmlns:db="http://docbook.org/ns/docbook"
             xmlns:raxapi="http://docs.rackspace.com/volume/api/v1">
   <resources base="https:///{region}.autoscale.api.rackspacecloud.com/v1.0/">
      <resource path="/v1.0/{tenantId}/groups" id="get-2Fv1.02F7BtenantId7D2Fgroups">
         <param name="tenantId" style="template" required="true"/>
         <method name="GET">
             <doc xml:lang="EN" title="List Autoscaling Groups">
                 <db:para role="shortdesc">
                     Lists all the autoscaling groups for the specified tenant ID.
                 </db:para>
                 <db:para>
                     For the tenant specified by <code>tenantID</code>,
                     this operation returns a list of autoscaling groups.
                 </db:para>
             </doc>
            <request>

        <representation mediaType="application/json" element="noop">
                  <doc xml:lang="en">
                     <xsdxt:code xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"/>
                  </doc>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="noop">
                  <doc xml:lang="en">
                     <xsdxt:code xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">{
                            "groups": [
                            {
                            "id": "{groupId1}"
                            "links": [
                            {
                            "href": "{url_root}/v1.0/010101/groups/{groupId1}"
                            "rel": "self"
                            }
                            ],
                            "active": [],
                            "activeCapacity": 0,
                            "pendingCapacity": 1,
                            "desiredCapacity": 1,
                            "paused": false
                            },
                            {
                            "id": "{groupId2}"
                            "links": [
                            {
                            "href": "{url_root}/v1.0/010101/groups/{groupId2}",
                            "rel": "self"
                            }
                            ],
                            "active": [],
                            "activeCapacity": 0,
                            "pendingCapacity": 2,
                            "desiredCapacity": 2,
                            "paused": false
                            }
                            ],
                            "groups_links": []
                            }</xsdxt:code>
                  </doc>
               </representation>
            </response>
         </method>
      </resource>
      <resource path="/v1.0/{tenantId}/groups" id="post-2Fv1.02F7BtenantId7D2Fgroups">
         <param name="tenantId" style="template" required="true"/>
         <method name="POST">
            <doc>
               <p xmlns="http://www.w3.org/1999/xhtml">Create a new scaling group, given the general scaling group
configuration, launch configuration, and optional scaling policies.
This data provided in the request body in JSON format. If
successful, the created group in JSON format containing id and
links is returned.</p>
            </doc>
            <request>

\
        <representation mediaType="application/json" element="noop">
                  <doc xml:lang="en">
                     <xsdxt:code xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">{    
    "groupConfiguration": {    
        "name" : "workers"    
        "cooldown": 60,    
        "minEntities": 5,    
        "maxEntities": 100,    
        "metadata": {    
            "firstkey" : "this is a string"    
            "secondkey" : "1"    
            }    
        },    
    "launchConfiguration": {    
        "type" : "launch_server"    
        "args": {    
            "server": {    
                "flavorRef": 3,    
                "name" : "webhead"    
                "imageRef" : "0d589460-f177-4b0f-81c1-8ab8903ac7d8"    
                "OS-DCF:diskConfig" : "AUTO"    
                "metadata": {    
                    "mykey" : "myvalue"    
                    },    
                "personality": [    
                {    
                    "path": '/root/.ssh/authorized_keys',    
                    "contents" : "ssh-rsa AAAAB3Nza...LiPk== user@example.net"    
                    }    
                ],    
                "networks": [    
                {    
                    "uuid" : "11111111-1111-1111-1111-111111111111"    
                    }    
                ],    
                },    
            "loadBalancers": [    
            {    
                "loadBalancerId": 2200,    
                "port": 8081    
                }    
            ]    
            }    
        },    
    "scalingPolicies": [    
    {    
        "name" : "scale up by 10"    
        "change": 10,    
        "cooldown": 5,    
        "type" : "webhook"    
        },    
    {    
        "name" : "scale down by 5.5 percent"    
        "changePercent": -5.5,    
        "cooldown": 6,    
        "type" : "webhook"    
        },    
    {    
        "name" : "set number of servers to 10"    
        "desiredCapacity": 10,    
        "cooldown": 3,    
        "type" : "webhook"    
        }    
    ]    
}</xsdxt:code>
                  </doc>
               </representation>
            </request>
            <response status="201">
               <representation mediaType="application/json" element="noop">
                  <doc xml:lang="en">
                     <xsdxt:code xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">{
    "group": {
        "id": "{groupId}",
        "links": [
          {
            "href": "{url_root}/v1.0/010101/groups/{groupId}"
            "rel": "self"
          }
        ],
        "groupConfiguration": {
            "name": "workers",
            "cooldown": 60,
            "minEntities": 5,
            "maxEntities": 100,
            "metadata": {
                "firstkey": "this is a string",
                "secondkey": "1",
            }
        },
        "launchConfiguration": {
            "type": "launch_server",
            "args": {
                "server": {
                    "flavorRef": 3,
                    "name": "webhead",
                    "imageRef": "0d589460-f177-4b0f-81c1-8ab8903ac7d8",
                    "OS-DCF:diskConfig": "AUTO",
                    "metadata": {
                        "mykey": "myvalue"
                    },
                    "personality": [
                        {
                            "path": '/root/.ssh/authorized_keys',
                            "contents": "ssh-rsa AAAAB3Nza...LiPk== user@example.net"
                        }
                    ],
                    "networks": [
                        {
                            "uuid": "11111111-1111-1111-1111-111111111111"
                        }
                    ],
                },
                "loadBalancers": [
                    {
                        "loadBalancerId": 2200,
                        "port": 8081
                    }
                ]
            }
        },
        "scalingPolicies": [
            {
                "id": "{policyId1}",
                "links": [
                  {
                    "href": "{url_root}/v1.0/010101/groups/{groupId}/policies/{policyId1}"
                    "rel": "self"
                  }
                ],
                "name": "scale up by 10",
                "change": 10,
                "cooldown": 5,
                "type": "webhook"
            },
            {
                "id": "{policyId2}",
                "links": [
                  {
                    "href": "{url_root}/v1.0/010101/groups/{groupId}/policies/{policyId2}"
                    "rel": "self"
                  }
                ],
                "name": "scale down by 5.5 percent",
                "changePercent": -5.5,
                "cooldown": 6,
                "type": "webhook"
            },
            {
                "id": "{policyId3}",
                "links": [
                  {
                    "href": "{url_root}/v1.0/010101/groups/{groupId}/policies/{policyId3}"
                    "rel": "self"
                  }
                ],
                "name": "Set number of servers to 10",
                "desiredCapacity": 10,
                "cooldown": 6,
                "type": "webhook"
            }
        ]
    }
}</xsdxt:code>
                  </doc>
               </representation>
            </response>
         </method>
      </resource>
      <resource path="/v1.0/{tenantId}/groups/{groupId}"
                id="get-2Fv1.02F7BtenantId7D2Fgroups2F7BgroupId7D">
         <param name="tenantId" style="template" required="true"/>
         <param name="groupId" style="template" required="true"/>
         <method name="GET">
            <doc>
               <p xmlns="http://www.w3.org/1999/xhtml">View manifested view of the scaling group configuration,
including the launch configuration, and the scaling policies. This
data is returned in the body of the response in JSON format.</p>
            </doc>
            <request>

\
        <representation mediaType="application/json" element="noop">
                  <doc xml:lang="en">
                     <xsdxt:code xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"/>
                  </doc>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="noop">
                  <doc xml:lang="en">
                     <xsdxt:code xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">{
    "group": {
        "id": "{groupId}",
        "links": [
          {
            "href": "{url_root}/v1.0/010101/groups/{groupId}"
            "rel": "self"
          }
        ],
        "groupConfiguration": {
            "name": "workers",
            "cooldown": 60,
            "minEntities": 5,
            "maxEntities": 100,
            "metadata": {
                "firstkey": "this is a string",
                "secondkey": "1",
            }
        },
        "launchConfiguration": {
            "type": "launch_server",
            "args": {
                "server": {
                    "flavorRef": 3,
                    "name": "webhead",
                    "imageRef": "0d589460-f177-4b0f-81c1-8ab8903ac7d8",
                    "OS-DCF:diskConfig": "AUTO",
                    "metadata": {
                        "mykey": "myvalue"
                    },
                    "personality": [
                        {
                            "path": '/root/.ssh/authorized_keys',
                            "contents": "ssh-rsa AAAAB3Nza...LiPk== user@example.net"
                        }
                    ],
                    "networks": [
                        {
                            "uuid": "11111111-1111-1111-1111-111111111111"
                        }
                    ],
                },
                "loadBalancers": [
                    {
                        "loadBalancerId": 2200,
                        "port": 8081
                    }
                ]
            }
        },
        "scalingPolicies": [
            {
                "id": "{policyId1}",
                "links": [
                  {
                    "href": "{url_root}/v1.0/010101/groups/{groupId}/policies/{policyId1}"
                    "rel": "self"
                  }
                ],
                "name": "scale up by 10",
                "change": 10,
                "cooldown": 5,
                "type": "webhook"
            }
            {
                "id": "{policyId2}",
                "links": [
                  {
                    "href": "{url_root}/v1.0/010101/groups/{groupId}/policies/{policyId2}"
                    "rel": "self"
                  }
                ],
                "name": "scale down by 5.5 percent",
                "changePercent": -5.5,
                "cooldown": 6,
                "type": "webhook"
            },
            {
                "id": "{policyId3}",
                "links": [
                  {
                    "href": "{url_root}/v1.0/010101/groups/{groupId}/policies/{policyId3}"
                    "rel": "self"
                  }
                ],
                "name": "set number of servers to 10",
                "desiredCapacity": 10,
                "cooldown": 3,
                "type": "webhook"
            }
        ]
    }
}</xsdxt:code>
                  </doc>
               </representation>
            </response>
         </method>
      </resource>
      <resource path="/v1.0/{tenantId}/groups/{groupId}"
                id="delete-2Fv1.02F7BtenantId7D2Fgroups2F7BgroupId7D">
         <param name="tenantId" style="template" required="true"/>
         <param name="groupId" style="template" required="true"/>
         <method name="DELETE">
            <doc>
               <p xmlns="http://www.w3.org/1999/xhtml">Delete a scaling group if there are no entities belonging to the
scaling group. If successful, no response body will be returned. If
there are pending or active entities, a 409 will be returned.</p>
            </doc>
            <request>

\
        <representation mediaType="application/json" element="noop">
                  <doc xml:lang="en">
                     <xsdxt:code xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"/>
                  </doc>
               </representation>
            </request>
            <response status="204"/>
         </method>
      </resource>
      <resource path="/v1.0/{tenantId}/groups/{groupId}/state"
                id="get-2Fv1.02F7BtenantId7D2Fgroups2F7BgroupId7D2Fstate">
         <param name="tenantId" style="template" required="true"/>
         <param name="groupId" style="template" required="true"/>
         <method name="GET">
            <doc>
               <p xmlns="http://www.w3.org/1999/xhtml">Get the current state of the scaling group, including the
current set of active entities, the number of pending entities, and
the desired number of entities. This data is returned in the body
of the response in JSON format.</p>
            </doc>
            <request>

\
        <representation mediaType="application/json" element="noop">
                  <doc xml:lang="en">
                     <xsdxt:code xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"/>
                  </doc>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="noop">
                  <doc xml:lang="en">
                     <xsdxt:code xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">{
    "group": {
        "id": "{groupId}",
        "links": [
            {
                "href": "{url_root}/v1.0/010101/groups/{groupId},
                "rel": "self"
            }
        ],
        "active": [
            {
                "id": "{instanceId1}"
                "links": [
                    {
                        "href": "https://dfw.servers.api.rackspacecloud.com/v2/010101/servers/{instanceId1}",
                        "rel": "self"
                    }
                ]
            },
            {
                "id": "{instanceId2}"
                "links": [
                    {
                        "href": "https://dfw.servers.api.rackspacecloud.com/v2/010101/servers/{instanceId2}",
                        "rel": "self"
                    }
                ]
            }
        ],
        "activeCapacity": 2,
        "pendingCapacity": 2,
        "desiredCapacity": 4,
        "paused": false
    }
}</xsdxt:code>
                  </doc>
               </representation>
            </response>
         </method>
      </resource>
      <resource path="/v1.0/{tenantId}/groups/{groupId}/config"
                id="get-2Fv1.02F7BtenantId7D2Fgroups2F7BgroupId7D2Fconfig">
         <param name="tenantId" style="template" required="true"/>
         <param name="groupId" style="template" required="true"/>
         <method name="GET">
            <doc>
               <p xmlns="http://www.w3.org/1999/xhtml">Get the configuration for a scaling group, which includes the
minimum number of entities, the maximum number of entities, global
cooldown, and other metadata. This data is returned in the body of
the response in JSON format.</p>
            </doc>
            <request>

\
        <representation mediaType="application/json" element="noop">
                  <doc xml:lang="en">
                     <xsdxt:code xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"/>
                  </doc>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="noop">
                  <doc xml:lang="en">
                     <xsdxt:code xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">{
    "groupConfiguration": {
        "name": "workers",
        "cooldown": 60,
        "minEntities": 5,
        "maxEntities": 100,
        "metadata": {
            "firstkey": "this is a string",
            "secondkey": "1",
        }
    }
}</xsdxt:code>
                  </doc>
               </representation>
            </response>
         </method>
      </resource>
      <resource path="/v1.0/{tenantId}/groups/{groupId}/config"
                id="put-2Fv1.02F7BtenantId7D2Fgroups2F7BgroupId7D2Fconfig">
         <param name="tenantId" style="template" required="true"/>
         <param name="groupId" style="template" required="true"/>
         <method name="PUT">
            <doc>
               <p xmlns="http://www.w3.org/1999/xhtml">Edit the configuration for a scaling group, which includes the
minimum number of entities, the maximum number of entities, global
cooldown, and other metadata. This data provided in the request
body in JSON format. If successful, no response body will be
returned.</p>
            </doc>
            <request>

\
        <representation mediaType="application/json" element="noop">
                  <doc xml:lang="en">
                     <xsdxt:code xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">{    
    "name" : "workers"    
    "cooldown": 60,    
    "minEntities": 5,    
    "maxEntities": 100,    
    "metadata": {    
        "firstkey" : "this is a string"    
        "secondkey" : "1"    
        }    
}</xsdxt:code>
                  </doc>
               </representation>
            </request>
            <response status="204"/>
         </method>
      </resource>
      <resource path="/v1.0/{tenantId}/groups/{groupId}/launch"
                id="get-2Fv1.02F7BtenantId7D2Fgroups2F7BgroupId7D2Flaunch">
         <param name="tenantId" style="template" required="true"/>
         <param name="groupId" style="template" required="true"/>
         <method name="GET">
            <doc>
               <p xmlns="http://www.w3.org/1999/xhtml">Get the launch configuration for a scaling group, which includes
the details of how to create a server, from what image, which load
balancers to join it to, and what networks to add it to, and other
metadata. This data is returned in the body of the response in JSON
format.</p>
            </doc>
            <request>

\
        <representation mediaType="application/json" element="noop">
                  <doc xml:lang="en">
                     <xsdxt:code xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"/>
                  </doc>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="noop">
                  <doc xml:lang="en">
                     <xsdxt:code xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">{
    "launchConfiguration": {
        "type": "launch_server",
        "args": {
            "server": {
                "flavorRef": 3,
                "name": "webhead",
                "imageRef": "0d589460-f177-4b0f-81c1-8ab8903ac7d8",
                "OS-DCF:diskConfig": "AUTO",
                "metadata": {
                    "mykey": "myvalue"
                },
                "personality": [
                    {
                        "path": '/root/.ssh/authorized_keys',
                        "contents": "ssh-rsa AAAAB3Nza...LiPk== user@example.net"
                    }
                ],
                "networks": [
                    {
                        "uuid": "11111111-1111-1111-1111-111111111111"
                    }
                ],
            },
            "loadBalancers": [
                {
                    "loadBalancerId": 2200,
                    "port": 8081
                }
            ]
        }
    }
}</xsdxt:code>
                  </doc>
               </representation>
            </response>
         </method>
      </resource>
      <resource path="/v1.0/{tenantId}/groups/{groupId}/launch"
                id="put-2Fv1.02F7BtenantId7D2Fgroups2F7BgroupId7D2Flaunch">
         <param name="tenantId" style="template" required="true"/>
         <param name="groupId" style="template" required="true"/>
         <method name="PUT">
            <doc>
               <p xmlns="http://www.w3.org/1999/xhtml">Edit the launch configuration for a scaling group, which
includes the details of how to create a server, from what image,
which load balancers to join it to, and what networks to add it to,
and other metadata. This data provided in the request body in JSON
format. If successful, no response body will be returned.</p>
            </doc>
            <request>

\
        <representation mediaType="application/json" element="noop">
                  <doc xml:lang="en">
                     <xsdxt:code xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">{    
    "type" : "launch_server"    
    "args": {    
        "server": {    
            "flavorRef": 3,    
            "name" : "webhead"    
            "imageRef" : "0d589460-f177-4b0f-81c1-8ab8903ac7d8"    
            "OS-DCF:diskConfig" : "AUTO"    
            "metadata": {    
                "mykey" : "myvalue"    
                },    
            "personality": [    
            {    
                "path": '/root/.ssh/authorized_keys',    
                "contents" : "ssh-rsa AAAAB3Nza...LiPk== user@example.net"    
                }    
            ],    
            "networks": [    
            {    
                "uuid" : "11111111-1111-1111-1111-111111111111"    
                }    
            ],    
            },    
        "loadBalancers": [    
        {    
            "loadBalancerId": 2200,    
            "port": 8081    
            }    
        ]    
        }    
}</xsdxt:code>
                  </doc>
               </representation>
            </request>
            <response status="204"/>
         </method>
      </resource>
      <resource path="/v1.0/{tenantId}/groups/{groupId}/pause"
                id="post-2Fv1.02F7BtenantId7D2Fgroups2F7BgroupId7D2Fpause">
         <param name="tenantId" style="template" required="true"/>
         <param name="groupId" style="template" required="true"/>
         <method name="POST">
            <doc>
               <p xmlns="http://www.w3.org/1999/xhtml">Pause all execution of scaling policies for this scaling
group.</p>
            </doc>
            <request>

\
        <representation mediaType="application/json" element="noop">
                  <doc xml:lang="en">
                     <xsdxt:code xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"/>
                  </doc>
               </representation>
            </request>
            <response status="204"/>
         </method>
      </resource>
      <resource path="/v1.0/{tenantId}/groups/{groupId}/resume"
                id="post-2Fv1.02F7BtenantId7D2Fgroups2F7BgroupId7D2Fresume">
         <param name="tenantId" style="template" required="true"/>
         <param name="groupId" style="template" required="true"/>
         <method name="POST">
            <doc>
               <p xmlns="http://www.w3.org/1999/xhtml">Resume all execution of scaling policies for this scaling
group.</p>
            </doc>
            <request>

\
        <representation mediaType="application/json" element="noop">
                  <doc xml:lang="en">
                     <xsdxt:code xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"/>
                  </doc>
               </representation>
            </request>
            <response status="204"/>
         </method>
      </resource>
      <resource path="/v1.0/{tenantId}/groups/{groupId}/policies"
                id="get-2Fv1.02F7BtenantId7D2Fgroups2F7BgroupId7D2Fpolicies">
         <param name="tenantId" style="template" required="true"/>
         <param name="groupId" style="template" required="true"/>
         <method name="GET">
            <doc>
               <p xmlns="http://www.w3.org/1999/xhtml">Get a list of scaling policies in the group. Each policy
describes an id, name, type, adjustment, cooldown, and links. This
data is returned in the body of the response in JSON format.</p>
            </doc>
            <request>

\
        <representation mediaType="application/json" element="noop">
                  <doc xml:lang="en">
                     <xsdxt:code xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"/>
                  </doc>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="noop">
                  <doc xml:lang="en">
                     <xsdxt:code xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">{
    "policies": [
        {
            "id":"{policyId1}",
            "data": {
                "name": "scale up by one server",
                "change": 1,
                "cooldown": 150,
                "type": "webhook"
            },
            "links": [
                {
                    "href": "{url_root}/v1.0/010101/groups/{groupId1}/policy/{policyId1}"
                    "rel": "self"
                }
            ]
        },
        {
            "id": "{policyId2}",
            "data": {
                "name": "scale up ten percent",
                "changePercent": 10,
                "cooldown": 150,
                "type": "webhook"
            },
            "links": [
                {
                    "href": "{url_root}/v1.0/010101/groups/{groupId1}/policy/{policyId2}"
                    "rel": "self"
                }
            ]
        },
        {
            "id":"{policyId3}",
            "data": {
                "name": "scale down one server",
                "change": -1,
                "cooldown": 150,
                "type": "webhook"
            },
            "links": [
                {
                    "href": "{url_root}/v1.0/010101/groups/{groupId1}/policy/{policyId3}"
                    "rel": "self"
                }
            ]
        },
        {
            "id": "{policyId4}",
            "data": {
                "name": "scale down ten percent",
                "changePercent": -10,
                "cooldown": 150,
                "type": "webhook"
            },
            "links": [
                {
                    "href": "{url_root}/v1.0/010101/groups/{groupId1}/policy/{policyId4}"
                    "rel": "self"
                }
            ]
        }
    ]
}</xsdxt:code>
                  </doc>
               </representation>
            </response>
         </method>
      </resource>
      <resource path="/v1.0/{tenantId}/groups/{groupId}/policies"
                id="post-2Fv1.02F7BtenantId7D2Fgroups2F7BgroupId7D2Fpolicies">
         <param name="tenantId" style="template" required="true"/>
         <param name="groupId" style="template" required="true"/>
         <method name="POST">
            <doc>
               <p xmlns="http://www.w3.org/1999/xhtml">Create one or many new scaling policies. Scaling policies must
include a name, type, adjustment, and cooldown. The response header
will point to the list policies endpoint. An array of scaling
policies is provided in the request body in JSON format.</p>
            </doc>
            <request>

\
        <representation mediaType="application/json" element="noop">
                  <doc xml:lang="en">
                     <xsdxt:code xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">[    
{    
    "name" : "scale up by one server"    
    "change": 1,    
    "cooldown": 150,    
    "type" : "webhook"    
    },    
{    
    "name" : "scale down by 5.5 percent"    
    "changePercent": -5.5,    
    "cooldown": 6,    
    "type" : "webhook"    
    }    
]</xsdxt:code>
                  </doc>
               </representation>
            </request>
            <response status="201">
               <representation mediaType="application/json" element="noop">
                  <doc xml:lang="en">
                     <xsdxt:code xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">{
    "policies": [
        {
            "id": {policyId1},
            "links": [
                {
                    "href": "{url_root}/v1.0/010101/groups/{groupId}/policy/{policyId1}"
                    "rel": "self"
                }
            ],
            "name": "scale up by one server",
            "change": 1,
            "cooldown": 150,
            "type": "webhook"
        },
        {
            "id": {policyId2},
            "links": [
                {
                    "href": "{url_root}/v1.0/010101/groups/{groupId}/policy/{policyId2}"
                    "rel": "self"
                }
            ],
            "name": "scale down by 5.5 percent",
            "changePercent": -5.5,
            "cooldown": 6,
            "type": "webhook"
        }
    ]
}</xsdxt:code>
                  </doc>
               </representation>
            </response>
         </method>
      </resource>
      <resource path="/v1.0/{tenantId}/groups/{groupId}/policies/{policyId}"
                id="get-2Fv1.02F7BtenantId7D2Fgroups2F7BgroupId7D2Fpolicies2F7BpolicyId7D">
         <param name="tenantId" style="template" required="true"/>
         <param name="groupId" style="template" required="true"/>
         <param name="policyId" style="template" required="true"/>
         <method name="GET">
            <doc>
               <p xmlns="http://www.w3.org/1999/xhtml">Get a scaling policy which describes an id, name, type,
adjustment, and cooldown, and links. This data is returned in the
body of the response in JSON format.</p>
            </doc>
            <request>

\
        <representation mediaType="application/json" element="noop">
                  <doc xml:lang="en">
                     <xsdxt:code xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"/>
                  </doc>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="noop">
                  <doc xml:lang="en">
                     <xsdxt:code xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">{
    "policy": {
        "id": {policyId},
        "links": [
            {
                "href": "{url_root}/v1.0/010101/groups/{groupId}/policy/{policyId}"
                "rel": "self"
            }
        ],
        "name": "scale up by one server",
        "change": 1,
        "cooldown": 150,
        "type": "webhook"
    }
}</xsdxt:code>
                  </doc>
               </representation>
            </response>
         </method>
      </resource>
      <resource path="/v1.0/{tenantId}/groups/{groupId}/policies/{policyId}"
                id="put-2Fv1.02F7BtenantId7D2Fgroups2F7BgroupId7D2Fpolicies2F7BpolicyId7D">
         <param name="tenantId" style="template" required="true"/>
         <param name="groupId" style="template" required="true"/>
         <param name="policyId" style="template" required="true"/>
         <method name="PUT">
            <doc>
               <p xmlns="http://www.w3.org/1999/xhtml">Updates a scaling policy. Scaling policies must include a name,
type, adjustment, and cooldown. If successful, no response body
will be returned.</p>
            </doc>
            <request>

\
        <representation mediaType="application/json" element="noop">
                  <doc xml:lang="en">
                     <xsdxt:code xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">{    
    "name": 'scale down by 5.5 percent',    
    "changePercent": -5.5,    
    "cooldown": 6,    
    "type" : "webhook"    
}</xsdxt:code>
                  </doc>
               </representation>
            </request>
            <response status="204"/>
         </method>
      </resource>
      <resource path="/v1.0/{tenantId}/groups/{groupId}/policies/{policyId}"
                id="delete-2Fv1.02F7BtenantId7D2Fgroups2F7BgroupId7D2Fpolicies2F7BpolicyId7D">
         <param name="tenantId" style="template" required="true"/>
         <param name="groupId" style="template" required="true"/>
         <param name="policyId" style="template" required="true"/>
         <method name="DELETE">
            <doc>
               <p xmlns="http://www.w3.org/1999/xhtml">Delete a scaling policy. If successful, no response body will be
returned.</p>
            </doc>
            <request>

\
        <representation mediaType="application/json" element="noop">
                  <doc xml:lang="en">
                     <xsdxt:code xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"/>
                  </doc>
               </representation>
            </request>
            <response status="204"/>
         </method>
      </resource>
      <resource path="/v1.0/{tenantId}/groups/{groupId}/policies/{policyId}/execute"
                id="post-2Fv1.02F7BtenantId7D2Fgroups2F7BgroupId7D2Fpolicies2F7BpolicyId7D2Fexecute">
         <param name="tenantId" style="template" required="true"/>
         <param name="groupId" style="template" required="true"/>
         <param name="policyId" style="template" required="true"/>
         <method name="POST">
            <doc>
               <p xmlns="http://www.w3.org/1999/xhtml">Execute a scaling policy. If successful, a response body will be
returned.</p>
            </doc>
            <request>

\
        <representation mediaType="application/json" element="noop">
                  <doc xml:lang="en">
                     <xsdxt:code xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"/>
                  </doc>
               </representation>
            </request>
            <response status="202">
               <representation mediaType="application/json" element="noop">
                  <doc xml:lang="en">
                     <xsdxt:code xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">{}</xsdxt:code>
                  </doc>
               </representation>
            </response>
         </method>
      </resource>
      <resource path="/v1.0/execute/{capability_version}/{capability_hash}/"
                id="post-2Fv1.02Fexecute2F7Bcapability_version7D2F7Bcapability_hash7D2F">
         <param name="capability_version" style="template" required="true"/>
         <param name="capability_hash" style="template" required="true"/>
         <method name="POST">
            <doc>
               <p xmlns="http://www.w3.org/1999/xhtml">Execute a webhook</p>
            </doc>
            <request>

\
        <representation mediaType="application/json" element="noop">
                  <doc xml:lang="en">
                     <xsdxt:code xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"/>
                  </doc>
               </representation>
            </request>
            <response status="202">
               <representation mediaType="application/json" element="noop">
                  <doc xml:lang="en">
                     <xsdxt:code xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">{}</xsdxt:code>
                  </doc>
               </representation>
            </response>
         </method>
      </resource>
      <resource path="/v1.0/{tenantId}/groups/{groupId}/policies/{policyId}/webhooks"
                id="get-2Fv1.02F7BtenantId7D2Fgroups2F7BgroupId7D2Fpolicies2F7BpolicyId7D2Fwebhooks">
         <param name="tenantId" style="template" required="true"/>
         <param name="groupId" style="template" required="true"/>
         <param name="policyId" style="template" required="true"/>
         <method name="GET">
            <doc>
               <p xmlns="http://www.w3.org/1999/xhtml">Get a list of webhooks and their IDs. This data is returned in
the body of the response in JSON format.</p>
            </doc>
            <request>

\
        <representation mediaType="application/json" element="noop">
                  <doc xml:lang="en">
                     <xsdxt:code xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"/>
                  </doc>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="noop">
                  <doc xml:lang="en">
                     <xsdxt:code xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">{
    "webhooks": [
        {
            "id":"{webhookId1}",
            "name": "alice",
            "metadata": {
                "notes": "this is for Alice"
            },
            "links": [
                {
                    "href": ".../{groupId1}/policies/{policyId1}/webhooks/{webhookId1}/",
                    "rel": "self"
                },
                {
                    "href": ".../execute/1/{capability_hash1}/,
                    "rel": "capability"
                }
            ]
        },
        {
            "id":"{webhookId2}",
            "name": "alice",
            "metadata": {
                "notes": "this is for Bob"
            },
            "links": [
                {
                    "href": ".../{groupId1}/policies/{policyId1}/webhooks/{webhookId2}/",
                    "rel": "self"
                },
                {
                    "href": ".../execute/1/{capability_hash2}/,
                    "rel": "capability"
                }
            ]
        }
    ],
    "webhooks_links": []
}</xsdxt:code>
                  </doc>
               </representation>
            </response>
         </method>
      </resource>
      <resource path="/v1.0/{tenantId}/groups/{groupId}/policies/{policyId}/webhooks"
                id="post-2Fv1.02F7BtenantId7D2Fgroups2F7BgroupId7D2Fpolicies2F7BpolicyId7D2Fwebhooks">
         <param name="tenantId" style="template" required="true"/>
         <param name="groupId" style="template" required="true"/>
         <param name="policyId" style="template" required="true"/>
         <method name="POST">
            <doc>
               <p xmlns="http://www.w3.org/1999/xhtml">Create one or more new scaling policy webhooks. Webhooks must
have a name. If successful, the created response body will contain
the IDs and links to the newly created webhooks. This data provided
in the request body in JSON format.</p>
            </doc>
            <request>

\
        <representation mediaType="application/json" element="noop">
                  <doc xml:lang="en">
                     <xsdxt:code xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">[    
{    
    "name" : "alice"    
    "metadata": {    
        "notes" : "this is for Alice"    
        }    
    },    
{    
    "name" : "bob"    
    }    
]</xsdxt:code>
                  </doc>
               </representation>
            </request>
            <response status="201">
               <representation mediaType="application/json" element="noop">
                  <doc xml:lang="en">
                     <xsdxt:code xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">{
    "webhooks": [
        {
            "id":"{webhookId1}",
            "alice",
            "metadata": {
                "notes": "this is for Alice"
            },
            "links": [
                {
                    "href": ".../{groupId1}/policies/{policyId1}/webhooks/{webhookId1}/",
                    "rel": "self"
                },
                {
                    "href": ".../execute/1/{capability_hash1}/,
                    "rel": "capability"
                }
            ]
        },
        {
            "id":"{webhookId2}",
            "name": "bob",
            "metadata": {},
            "links": [
                {
                    "href": ".../{groupId1}/policies/{policyId1}/webhooks/{webhookId2}/",
                    "rel": "self"
                },
                {
                    "href": ".../execute/1/{capability_hash2}/,
                    "rel": "capability"
                }
            ]
        }
    ]
}</xsdxt:code>
                  </doc>
               </representation>
            </response>
         </method>
      </resource>
      <resource path="/v1.0/{tenantId}/groups/{groupId}/policies/{policyId}/webhooks/{webhookId}"
                id="get-2Fv1.02F7BtenantId7D2Fgroups2F7BgroupId7D2Fpolicies2F7BpolicyId7D2Fwebhooks2F7BwebhookId7D">
         <param name="tenantId" style="template" required="true"/>
         <param name="groupId" style="template" required="true"/>
         <param name="policyId" style="template" required="true"/>
         <param name="webhookId" style="template" required="true"/>
         <method name="GET">
            <doc>
               <p xmlns="http://www.w3.org/1999/xhtml">Get information about a specific scaling policy webhook. This
data is returned in the body of the response in JSON format.</p>
            </doc>
            <request>

\
        <representation mediaType="application/json" element="noop">
                  <doc xml:lang="en">
                     <xsdxt:code xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"/>
                  </doc>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="noop">
                  <doc xml:lang="en">
                     <xsdxt:code xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">{
    "webhook": {
        "id":"{webhookId}",
        "name": "webhook name",
        "metadata": {},
        "links": [
            {
                "href": ".../{groupId1}/policies/{policyId1}/webhooks/{webhookId}/",
                "rel": "self"
            },
            {
                "href": ".../execute/1/{capability_hash2},
                "rel": "capability"
            }
        ]
    }
}</xsdxt:code>
                  </doc>
               </representation>
            </response>
         </method>
      </resource>
      <resource path="/v1.0/{tenantId}/groups/{groupId}/policies/{policyId}/webhooks/{webhookId}"
                id="put-2Fv1.02F7BtenantId7D2Fgroups2F7BgroupId7D2Fpolicies2F7BpolicyId7D2Fwebhooks2F7BwebhookId7D">
         <param name="tenantId" style="template" required="true"/>
         <param name="groupId" style="template" required="true"/>
         <param name="policyId" style="template" required="true"/>
         <param name="webhookId" style="template" required="true"/>
         <method name="PUT">
            <doc>
               <p xmlns="http://www.w3.org/1999/xhtml">Update an existing webhook. WebhookIds not recognized will be
ignored with accompanying data. URLs will be ignored if submitted,
but that will not invalidate the request. If successful, no
response body will be returned.</p>
            </doc>
            <request>

\
        <representation mediaType="application/json" element="noop">
                  <doc xml:lang="en">
                     <xsdxt:code xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">{    
    "name" : "alice"    
    "metadata": {    
        "notes" : "this is for Alice"    
        }    
}</xsdxt:code>
                  </doc>
               </representation>
            </request>
            <response status="204"/>
         </method>
      </resource>
      <resource path="/v1.0/{tenantId}/groups/{groupId}/policies/{policyId}/webhooks/{webhookId}"
                id="delete-2Fv1.02F7BtenantId7D2Fgroups2F7BgroupId7D2Fpolicies2F7BpolicyId7D2Fwebhooks2F7BwebhookId7D">
         <param name="tenantId" style="template" required="true"/>
         <param name="groupId" style="template" required="true"/>
         <param name="policyId" style="template" required="true"/>
         <param name="webhookId" style="template" required="true"/>
         <method name="DELETE">
            <doc>
               <p xmlns="http://www.w3.org/1999/xhtml">Delete a scaling policy webhook. If successful, no response body
will be returned.</p>
            </doc>
            <request>

\
        <representation mediaType="application/json" element="noop">
                  <doc xml:lang="en">
                     <xsdxt:code xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"/>
                  </doc>
               </representation>
            </request>
            <response status="204"/>
         </method>
      </resource>
   </resources>
</application>
